img{
    width: 3px;
    height: 20px;
    
}
  


.container{
    background-image: url(../../assets/imgs/space2.png);
    background-repeat: no-repeat;
}

.form{
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 25px;
}

.style{
    background-image: url("../../assets/imgs/space2.png");
}
