page-sign-up{
    .Nice{
        background-image: url("../../assets/imgs/space2.png");
         height: 100%;
     }

     .btn{
         background: rgba(70, 131, 180, 0.6);

     }

     .form{
         background: rgba(255, 255, 255, 0.7);
         padding: 10px;
         border-radius: 25px;
    
     }
}
