
page-log-in{

    .style{
        background-image: url("../../assets/imgs/space2.png");
    }
    
    .form{
        background: rgba(255, 255, 255, 0.7);
        padding: 10px;
        border-radius: 25px;
    }


}