page-welcome{
    .Nice{
        background-image: url("../../assets/imgs/picture.png");
         height: 100%;
     }

     .btn{
         background: #dba532;
         margin-top: 30%;
         margin-left: 30%;
         
         
         

     }

     h1{
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
         font-size: 400%;
         padding-top: 60%;
        

     }
     
     h2{
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         text-align: center;
         font-size: 200%;
         padding-top: 30%;
         


     }
    

  
}
